<!DOCTYPE html>
<html lang="en" ng-app="myScheduleApp">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Be Kind Studio Calendar</title>
	<link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.2/ng-infinite-scroll.js'></script>
	<script src="script.js"></script>
    <style>
        
*:focus {
    outline: none;
}
              
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
html {
	background-color: : #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: : 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
        }
        
.scroll,
.header {
    text-align: center;
        }
        
.box {
    padding: 10px;
    margin: 10px 0;
        }
    </style>
</head>
<body ng-controller="myScheduleController">
<div class="header"><h1 class="calendar">Class and Event Schedule</h1></div>
	<div class="scroll" infinite-scroll="loadMore()" infinite-scroll-distance="1">
		<div class="box" ng-repeat='n in images'>
			<div class='date-name' ng-hide="n.agendaVisibility">{{n.agenda}}</div>
			<h2 class="full-date">{{n.day}}</h2>
			<button class="add-apoint" ng-click="addAgenda($index, $event)" ng-style="edit">{{n.button}}</button>
			<textarea class="add-text" type="text" ng-show="n.visibility" ng-model="n.appointment" ng-blur="exitText($index); edit={'background-color': '#e67e22'}"></textarea>
		</div>
	</div>
    
  <script>angular.module('myScheduleApp', ['infinite-scroll'])
angular.module('myScheduleApp')	
    .controller('myScheduleController', ['$scope','$timeout', function($scope,$timeout){

	var today = new Date();
	$scope.images = [];
	$scope.counter = 0;

	$scope.loadMore = function(){

    	for(var i = 0; i <3; i++) {
    		today.setDate(today.getDate()+1);
    		var dd = today.getDate();
    		var mm = today.getMonth()+1;
    		var y = today.getFullYear();
    		var formattedDate = mm+'/'+dd+'/'+y;
    		var date = {
    			count: $scope.counter++,
    			day: formattedDate,
    			visibility: false,
    			agendaVisibility: true,
    			button: 'Add Class to Schedule',
    			agenda: 'a',
			} 
      		$scope.images.push(date);
   		}
	}
	$scope.addAgenda = function(index, event){
		$scope.images[index].visibility = true;
		$timeout(function() {
					event.target.nextElementSibling.focus();
				});
	}
	$scope.exitText = function(index){
		$scope.images[index].agenda = $scope.images[index].appointment
		$scope.images[index].appointment = ''
		$scope.images[index].visibility = false;
		$scope.images[index].agendaVisibility = false;
		$scope.images[index].button = "Edit Class";
	}
}]);</script>

</body> 
</html>